html, body {
    margin: 0;
    padding: 0;
    background: #000;
    text-align: center;
}

img {
    margin: 0 auto;
    padding: 0;
}

.photo {
    position: absolute;
    display: none;
    z-index: 1;
}

.photo.frame {
    display: block;
    position: relative;
    z-index: 2;
}